################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.lock.json
.vs
artifacts
EffectFramework.Core/bin
EffectFramework.Tests/bin
EffectFramework.Console/bin
